[ln-aside] {
	box-sizing: border-box;
	max-width: 50vw;
	min-width: 320px;
	width: 320px;
	height: 100%;
	position: relative;
	padding: 5px;
}

[ln-layout="window"] [ln-aside], [ln-layout="window"][ln-aside] {
	display: flex;
	flex-direction: column;
}


[ln-layout="auto"] {
	display: block;
	overflow: inherit;
}