:root {
	--resizerSize: 5px;
	--resizerColor: #aaa;
	--resizerHoverColor: #666;
}

[ln-resize] {
	position: absolute;
	transition: background-color 0.3s ease-in-out;
}
[ln-resize]:hover {
	background-color: rgba(255, 255, 255, .5);
}

[ln-resize="r"], [ln-resize="l"] {
	width: var(--resizerSize);
	cursor: ew-resize;
	top: 0;
	bottom: 0;
}

[ln-resize="t"], [ln-resize="b"] {
	height: var(--resizerSize);
	width: 100%;
	cursor: ns-resize;
	left: 0;
	right: 0;
}

[ln-resize="r"] {
	right: 0;
}
[ln-resize="l"] {
	left: 0;
}
[ln-resize="t"] {
	top: 0;
}
[ln-resize="b"] {
	bottom: 0;
}