:root {
	--headerHeight: 50px;
}

[ln-header] {
	background-color: rgb(var(--primaryColor));

	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 10px;
	height: var(--headerHeight);
	border-bottom: 1px solid;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

}