:root {
	--progressHeight: 5px;
	--progressBoxBg: 255,255,255,.8;
}

[ln-progress] {
	height: var(--progressHeight);
	max-width: 100%;
	width: 100%;
	border-radius: calc(var(--progressHeight) / 2);
	background-color: rgba(var(--progressBoxBg));
	transition: width .5s  ease-in, background-color .5s  ease-in;
	overflow: hidden;
	display: flex;
}


[ln-progress] [ln-progress] {
	border-radius: 0;
}

[ln-progress] [ln-progress]:last-child {
	border-top-right-radius: calc(var(--progressHeight) / 2);
	border-bottom-right-radius: calc(var(--progressHeight) / 2);
}

[ln-progress="trackable"]::after {
	float: right;
	width: 50%;
	background-color: blue;
	content: "";
}

[ln-progress].green {
	background-color: green;
}

[ln-progress].yellow {
	background-color: yellow;
}

[ln-progress].red {
	background-color: red;
}