form [ln-inputcontrol] {
	color: #333;
	margin: 10px;
	padding-top: 15px;
	flex: 1 1 auto;
}

fieldset {
	flex-wrap: wrap;
	display: flex;
}

form [ln-inputcontrol] [ln-input] {
	background-color: #fff;
	border-radius: 3px;

	margin: 0 0 0 20px;
	position: relative;
}

[ln-input] input {
	width: 100%;
	background: transparent;
	padding: 10px;
	margin: 0;
	outline: 0;
	border: none;
	font-size: 1rem;
	color: inherit;
	box-sizing: border-box;
}
[ln-input] label {
	position: absolute;
	left: 5px;
	top: 0;
	line-height: 32px;
	transition: all 0.3s ease;
}
[ln-input] input[required] ~ label {
	font-weight: bold;
}

[ln-input] input:focus ~ label, [ln-input] input:not(:placeholder-shown) ~ label {
	transform: translate(-20px, -27px);
}


[ln-input-errors] {
	margin: 0 0 0 20px;
	font-size: .825rem;
	color: red;
}

button {
	background-color: rgba(var(--primaryColor), .7);
	color: var(--primaryText);

	box-sizing: content-box;
	padding: 6px 15px;
	outline: 0;
	border-radius: 3px;
	text-align: center;
	white-space: nowrap;
	font-size: .875rem;
	cursor: pointer;

	transition: background-color .2s ease,color .2s ease,opacity .2s ease;
	border: none;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

:disabled {
	cursor: not-allowed;
}

button:not(:disabled):hover {
	background-color: rgba(var(--primaryColor), 1);
	color: var(--primaryText);
}