table {
	width: 100%;
}

th, td {
	padding: 6px 12px;
}

thead th {
	background-color: rgb(var(--primaryColor));
	color: var(--primaryText);
	font-weight: bold;
}

tr {
	background-color: #f6f6f6;
}
tr:nth-of-type(odd) {
	background-color: #e9e9e9;
}
tr:hover {
	background-color: #fff;
}


table.fixedHeader thead th {
	position: sticky;
}


[ln-layout="auto"] table.fixedHeader thead th {
	top: var(--headerHeight);
}


[ln-layout="window"] table.fixedHeader thead th {
	position: sticky;
	top: 0;
}
