[ln-app] {
	display: flex;
}

[ln-layout="auto"] {
	margin-top: var(--headerHeight) !important;
}

[ln-layout="window"] [ln-app] {
	position: absolute;
	top: var(--headerHeight);
	bottom: var(--footerHeight);
	right: 0;
	left: 0;
}