[ln-breadcrumbs] {
	border-radius: var(--borderRadius);
	background-color: var(--primaryColor);
	margin: 10px;
	padding: 10px;
}

[ln-breadcrumbs] > li {
	display: inline-block;
}

[ln-breadcrumbs] > li + li::before {
	content: "\00BB";
	padding: 0 5px;
	color: #888;
	box-sizing: border-box;
}