body {
	font-family: Roboto;
	background-color: #fff;
	/* background-image: url('bg.jpg');
	background-size: cover;
	background-attachment: fixed; */
}

aside.left {

}

#box2 {
	--boxColor: 200, 200, 255;
}

[ln-app] {
	width: 1200px;
	margin: auto;
}
