@use '../../scss/config/mixins' as *;

/* Box Container */
[data-ln-box] {
	@include bg-primary;
	@include border;
	@include rounded-md;
	@include overflow-hidden;
}

/* Header */
[data-ln-box] > header {
	@include flex;
	@include items-center;
	@include justify-between;
	@include px(var(--spacing-sm));
	@include py(var(--spacing-xs));
	@include bg-secondary;
	@include border-b;
	@include text-sm;
	@include font-semibold;
	margin: 0;
}

/* Body */
[data-ln-box-body] {
	@include p(var(--spacing-sm));
	max-height: 100vh;
	@include transition;
	overflow: auto;
}

/* Collapsed state */
[data-ln-box="collapsed"] [data-ln-box-body],
[data-ln-box="collapsed"] footer {
	max-height: 0 !important;
	@include py(0);
	overflow: hidden;
}

/* Toggle button visibility */
[data-ln-box="collapsed"] [data-ln-box-action="collapse"] {
	display: none;
}

[data-ln-box=""] [data-ln-box-action="expand"],
[data-ln-box]:not([data-ln-box="collapsed"]) [data-ln-box-action="expand"] {
	display: none;
}
