@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


html, body {
	width: 100%;
	height: 100%;
	background-color: var(--bgColor);

	font-family: Open Sans,Helvetica,Lucida Sans Unicode,Lucida Grande,Arial,Verdana,sansSerif;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 16px;
	font-size: 16px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1, h2, h3, h4, h5, h6, header {
	padding: 0 0 4px;
	font-weight: 600;

	border-bottom: 1px solid;
	border-color: rgba(58,58,58,.1);
	color: #344f71;

}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 7px;
	font-size: 120%;
}


header {
	font-size: .825rem;
}

a {
	color: var(--primaryColor);
	text-decoration: none;
	transition: background-color .2s ease,color .2s ease,opacity .2s ease;
}

a:hover {
	color: var(--primaryColor);
}
