html, body {
	width: 100%;
	height: 100%;
	background-color: var(--bgColor);

	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 16px;
	font-size: 16px;

}

h1, h2, h3, h4, h5, h6, header {
	border-bottom: 1px solid;
	border-color: rgba(58,58,58,.1);
	color: #344f71;
}

header {
	font-size: .825rem;
}

a {
	color: var(--primaryColor);
	text-decoration: none;
	transition: background-color .2s ease,color .2s ease,opacity .2s ease;
}

a:hover {
	color: var(--primaryColor);
}


[ln-layout="auto"] h1, 
[ln-layout="auto"] h2, 
[ln-layout="auto"] h3, 
[ln-layout="auto"] h4, 
[ln-layout="auto"] h5, 
[ln-layout="auto"] h6 {
	font-weight: 100;
	font-size: 50px;
	line-height: 100px;
}


[ln-layout="window"] h1, 
[ln-layout="window"] h2, 
[ln-layout="window"] h3, 
[ln-layout="window"] h4, 
[ln-layout="window"] h5, 
[ln-layout="window"] h6, 
[ln-layout="window"] header {
	padding: 0 0 4px;
	margin: 0 0 7px;
	font-weight: 600;
} 


.disableSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.enableSelect {

	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}