:root {
	--footerHeight: 30px;
}

[ln-footer] {
	background-color: var(--footerColor);
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 10px;
	height: var(--footerHeight);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: .8rem;
}

[ln-layout="window"] [ln-footer] {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}